body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.btn-table-create {
    margin-bottom: 15px;
}

.app-logo {
    float: none; 
    padding-left: 5px;
    vertical-align: sub;
}

.switch-label {
    margin-right: 20px;
}


/* Outline Buttons */
.btn-success-outline {
    color: #5cb85c;
    background-color: transparent;
    background-image: none;
    border-color: #5cb85c;
}
/* Success */
.btn-success-outline:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success-outline.active {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
/* Warning */
.btn-warning-outline {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}

.btn-warning-outline:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning-outline.active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
/* Danger*/
.btn-danger-outline {
    color: #d9534f;
    background-color: transparent;
    background-image: none;
    border-color: #d9534f;
}

.btn-danger-outline:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger-outline.active {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}